# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives

   * Popular Data Science languajes
   * Commonly Data Science libraries
   * Tools used for Data Science
   * Arithmetic with Python
   * Variables with Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Python libraries
    * Pandas
    * Numpy
    * Plotly

2. R libraries
    * dplyr
    * ggplot2
    * tidyr

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>    
  <tr>
    <td>Jupiter NoteBook</td>    
  </tr>
  <tr>
    <td>Apache Spark</td>    
  </tr>
  <tr>
    <td>KNIME</td>    
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

a = 200 # Time in minutes
b = 60 # measure time
z = 0 # Result

z = a/b

print(z)

3.3333333333333335

## Author

Jesus Romero